.card {
  width: 800px;
  background-color: #000000ff;
  padding: 4rem 2rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 2px 4px 0 rgba(136, 144, 195, .2), 0 5px 15px 0 rgba(37, 44, 97, .15);
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, .2), 0 5px 15px 0 rgba(37, 44, 97, .15);

  .name {
    font-size: 5rem;
    line-height: 1.45;
    color: #ffffffff;
    text-align: center;
    text-shadow: 0.01em 0.02em 0.05em #ffffff00;
    font-weight: 900;
  }

  .title {
    font-size: 1.55rem;
    line-height: 1.5;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 400;
    --darkreader-inline-color: #e8e6e3;
  }

  .about {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #9f9f9fff;
    text-align: center;
    font-weight: 400;
    text-shadow: 0.01em 0.02em 0.05em #ffffff00;

    margin-top: 2rem;
    margin-bottom: 2rem;
    display: block;
  }

  .social {
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    color: #ffffffff;

    margin-bottom: 2rem;

    .icon {
      transition: all .25s;
    }

    .icon:hover {
      transform: scale(1.2);
    }
  }
}
