@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    line-height: 1.5;
}

body {
    color: rgba(232, 230, 227, 0.65);
    background-color: rgb(24, 26, 27);
}
