---
import AboutSection from "@/components/AboutSection.astro"
// import BlogsSection from "@/components/BlogsSection.astro";
import HeroSection from "@/components/HeroSection.astro"
import ProjectsSection from "@/components/ProjectsSection"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Doruk Gezici | DGtech">
  <main class="flex flex-col gap-20">
    <HeroSection />
    <AboutSection />
    <ProjectsSection client:load />
    <!-- <BlogsSection /> -->
  </main>
</Layout>
