---
import MediumFeed from "@/components/MediumFeed";
---

<section class="w-full text-center">
  <h1 class="text-6xl font-extrabold mt-4 mb-20 text-neutral-200">Blogs</h1>
  <MediumFeed className="flex flex-wrap justify-center items-center gap-4" />
</section>
