<div
  class="contra-hire-me-button"
  data-analyticsUserId="2181a673-e401-45d9-93fe-f8e23e0fff02"
  data-theme="dark"
  data-username="dorukgezici"
>
</div>

<script async src="https://contra.com/static/embed/sdk.js" charset="utf-8"></script>

<style>
  .contra-hire-me-button {
    transition: all 0.25s;
  }

  .contra-hire-me-button:hover {
    transform: translateY(-2px);
  }
</style>
