$light: rgba(255, 255, 255, .25);

.card {
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 -1px 3px $light, 0 -1px 3px $light inset;
  perspective: 1000px;
  animation: card 1s ease-in-out;

  .image {
    width: 100%;
    height: auto;
  }

  .category {
    padding: .5rem;
    border: $light 1px solid;
    border-radius: 0.5rem;
  }

  .content {
    max-height: 16rem;
    overflow: hidden;
  }
}

.card:hover {
  box-shadow: 0 -1px 5px $light, 0 -1px 5px $light inset;
  transform: translateY(-3px) scale(1.01);
}
