:root {
  --light: rgba(255, 255, 255, 0.25);
}

.card {
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow:
    0 -1px 3px var(--light),
    0 -1px 3px var(--light) inset;
  perspective: 1000px;
  animation: card 1s ease-in-out;
}

.card:hover {
  box-shadow:
    0 -1px 5px var(--light),
    0 -1px 5px var(--light) inset;
  transform: translateY(-3px) scale(1.01);
}

.image {
  width: 100%;
  height: auto;
}

.category {
  padding: 0.5rem;
  border: var(--light) 1px solid;
  border-radius: 0.5rem;
}

.content {
  max-height: 16rem;
  overflow: hidden;
}
