.card {
  padding: 4rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .5);

  text-align: center;
  font-weight: 400;

  .actions {
    a {
      padding: 1em 3em;
      border: 1px solid;
      border-radius: 0.5rem;
      transition: all .25s;
    }

    a:hover {
      transform: translateY(-2px);
    }
  }

  .social {
    svg {
      transition: all .25s;
    }

    svg:hover {
      transform: scale(1.2);
    }
  }
}
